@model IEnumerable<Playground.ViewModels.ChildDoctorViewModel>
@using Playground.Models
@using Playground.ViewModels
@{
    Layout = "~/Views/Layout/Layout.cshtml";
}
<body class="fix-header card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="main-wrapper">
        @{
        await Html.RenderPartialAsync("~/Views/Partials/_Header.cshtml", Model);
        await Html.RenderPartialAsync("~/Views/Partials/_Menu.cshtml");
        }
        <div class="page-wrapper">
            <br />
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row m-t-40">
                                    <div class="col-md-6 col-lg-4 col-xlg-4">
                                        <div class="card card-inverse card-info">
                                            <div class="box bg-info text-center">
                                                <h1 class="font-light text-white">2,064</h1>
                                                <h6 class="text-white">Total Patients</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xlg-4">
                                        <div class="card card-success card-inverse">
                                            <div class="box text-center">
                                                <h1 class="font-light text-white">1,738</h1>
                                                <h6 class="text-white">Patients for Visit</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xlg-4">
                                        <div class="card card-inverse card-danger">
                                            <div class="box text-center">
                                                <h1 class="font-light text-white">1100</h1>
                                                <h6 class="text-white">Patients for Vaccination</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                                            <thead>
                                                <tr>
                                                    <th>ID #</th>
                                                    <th>Name</th>
                                                    <th>Surname</th>
                                                    <th>IIN</th>
                                                    <th>Phone</th>
                                                    <th>Date of birth</th>
                                                    <th>Login</th>
                                                    <th>Password</th>
                                                    <th>Family doctor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (ChildDoctorViewModel cd in Model)
                                                {
                                                    <tr>
                                                        <td>@cd.child.Id</td>
                                                        <td>@cd.child.FirstName</td>
                                                        <td>@cd.child.LastName</td>
                                                        <td>@cd.child.IIN</td>
                                                        <td>@cd.child.Phone</td>
                                                        <td>@cd.child.DateOfBirth</td>
                                                        <td>@cd.child.Login</td>
                                                        <td>@cd.child.Password</td>
                                                        <td>@cd.doctor.FirstName @cd.doctor.LastName</td>
                                                    </tr>

                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Add New Patient</button>
                                                    </td>
                                                    @{
                                                        Child c = new Child();
                                                        await Html.RenderPartialAsync("~/Views/Partials/_Patients.cshtml", c);
                                                    }
                                                    <td colspan="6">
                                                        <div class="text-right">
                                                            <ul class="pagination"> </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
