@model Playground.Models.Doctor
@{
    Layout = "~/Views/Layout/Layout.cshtml";
}
<body class="fix-header card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="main-wrapper">
        @{
            await Html.RenderPartialAsync("~/Views/Partials/_Header.cshtml", Model);
            await Html.RenderPartialAsync("~/Views/Partials/_Menu.cshtml");
        }

        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Profile</h3>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30">
                                    <img src="~/Res/images/users/2.jpg" class="img-circle" width="150" />
                                    <h4 class="card-title m-t-10">@Model.FirstName @Model.LastName</h4>
                                    <h6 class="card-subtitle">@Model.Login</h6>
                                </center>
                            </div>
                            <div>
                                <hr>
                            </div>
                            <div class="card-body">
                                <small class="text-muted p-t-30 db">Phone</small>
                                <h6>@Model.Phone</h6>
                                <small class="text-muted p-t-30 db">Birth Date</small>
                                <h6>@Model.DateOfBirth.ToShortDateString()</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Timeline</a> </li>

                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a> </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    @{
                                        await Html.RenderPartialAsync("~/Views/Partials/_Timeline.cshtml", Model.Tickets);
                                    }
                                </div>
                                <div class="tab-pane" id="settings" role="tabpanel">
                                    @{
                                        await Html.RenderPartialAsync("~/Views/Partials/_Settings.cshtml", Model);
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>